<!DOCTYPE html>
<html>
<head>
    <title>Профиль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Профиль</h2>
        <p class="text-center">Добро пожаловать, {{ username }} {{ last_name }}!</p>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="list-group">
                    <a href="{{ url_for('transactions') }}" class="list-group-item list-group-item-action">Транзакции</a>
                    <a href="{{ url_for('gamelist') }}" class="list-group-item list-group-item-action">Список игр</a>
                    <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action">Выйти</a>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
